

<h1> All Listings  </h1>

<%= video_tag('Brooklyn.mp4', class: "myVideo", loop: true, autoplay: true, muted: true) %>

<ul >
   <% @listings.each do |listing| %>
   <li><h3><%=link_to listing.title, listing %> (<%= listing.location.upcase %>)</h3>  </li>
   <% end %>
 </ul>
<br><br><br><br><br>
 <h4><%= button_to "Developer", users_path, method: :get %></h4>
